@page "/scheduledtasklist"
@using System.Net.Http
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Next Running Date</th>
			<th>Allow Multiple instances</th>
			<th>Period</th>
			<th>StartedCount</th>
			<th>Last State</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in taskInfoList)
		{
			var isRunning = item.LastRunningTask != null && !item.LastRunningTask.TerminatedDate.HasValue ? "table-success" : "";
			<tr class="@isRunning">
				<td>
					<a href="/scheduledtask/@item.ScheduledTask.Name">@item.ScheduledTask.Name</a><br/>
					@item.ScheduledTask.Description
				</td>
				<td>
					@if (item.ScheduledTask.NextRunningDate == DateTime.MinValue)
					{
						<span>Never</span>
					}
					else
					{
						<span>@item.ScheduledTask.NextRunningDate</span>
					}
				</td>
				<td>
					Global : @item.ScheduledTask.AllowMultipleInstance<br/>
					Local : @item.ScheduledTask.AllowLocalMultipleInstances<br/>
				</td>
				<td>
					@item.ScheduledTask.Period <br/>
					Interval : @item.ScheduledTask.Interval <br/>
					@if (item.ScheduledTask.Period == ScheduledTaskTimePeriod.Month)
					{
						<span>Start Day : @item.ScheduledTask.StartDay<br/></span>
					}
					@if (item.ScheduledTask.Period != ScheduledTaskTimePeriod.Hour
						&& item.ScheduledTask.Period != ScheduledTaskTimePeriod.Minute
						&& item.ScheduledTask.Period != ScheduledTaskTimePeriod.Second)
					{
						<span>Start Hour : @item.ScheduledTask.StartHour</span><br/>
					}
					@if (item.ScheduledTask.Period != ScheduledTaskTimePeriod.Minute
						&& item.ScheduledTask.Period != ScheduledTaskTimePeriod.Second)
					{
						<span>Start Minute : @item.ScheduledTask.StartMinute</span><br/>
					}
				</td>
				<td>@item.ScheduledTask.StartedCount</td>
				<td>
					@if (item.LastRunningTask != null)
					{
						<span>@item.LastRunningTask.ProgressLogs.OrderByDescending(i => i.CreationDate).FirstOrDefault()?.Type</span>
					}
				</td>
				<td>
					<button class="btn btn-primary" @onclick="() => EditTask(item.ScheduledTask)">Edit</button>
					@if (item.LastRunningTask == null
						|| (item.LastRunningTask != null
						&& item.LastRunningTask.TerminatedDate.HasValue))
					{
						<button class="btn btn-success" @onclick="() => ForceTask(item.ScheduledTask)" >Force</button>
					}
					else
					{
						<button class="btn btn-secondary" @onclick="() => CancelTask(item.ScheduledTask)" >Cancel</button>
					}
				</td>
			</tr>
		}
	</tbody>

</table>
